<div x-data="setup()" x-on:resize.window="watchScreen()">
  <div class="flex h-screen antialiased text-gray-900 bg-blue-gray-100 dark:bg-dark dark:text-light">
    <!-- Loading screen -->
    <!-- Sidebar -->
    <div class="flex flex-shrink-0 transition-all">
      <div x-show="isSidebarOpen" x-on:click="isSidebarOpen = false"
        class="fixed inset-0 z-10 bg-black bg-opacity-50 lg:hidden"></div>
      <div x-show="isSidebarOpen" class="fixed inset-y-0 z-10 w-16 bg-white"></div>

      <!-- Mobile bottom bar -->
      <nav aria-label="Options"
        class="fixed inset-x-0 bottom-0 flex flex-row-reverse items-center justify-between px-4 py-2 bg-white border-t sm:hidden shadow-t border-primary-100 rounded-t-3xl">
        <!-- Menu button -->

        <!-- Modulo de Sistema -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'sistemaTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'sistemaTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'sistemaTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle notifications panel</span>
          <i class="fa-solid fa-gears w-6 h-6 text-lg"></i>
        </button>

        <!-- Modulo de Tesorería -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'tesoreriaTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'tesoreriaTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'tesoreriaTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle notifications panel</span>
          <i class="fa-solid fa-piggy-bank w-6 h-6 text-lg"></i>
        </button>


        <!-- Modulo de Contabilidad -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'contabilidadTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'contabilidadTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'contabilidadTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle notifications panel</span>
          <i class="fa-solid fa-file-invoice-dollar w-6 h-6 text-lg"></i>
        </button>





        <!-- Modulo de Almacen -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'notificationsTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'notificationsTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'notificationsTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle notifications panel</span>
          <i class="fa-solid fa-warehouse w-6 h-6 text-lg"></i>
        </button>

        <!-- Modulo de Ventas -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'messagesTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'messagesTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'messagesTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle message panel</span>
          <i class="fa-solid fa-cash-register w-6 h-6 text-lg"></i>
        </button>

        <!-- Modulo de Compras -->
        <button
          x-on:click="(isSidebarOpen && currentSidebarTab == 'linksTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'linksTab'"
          class="p-2 transition-colors rounded-lg shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
          x-bind:class="(isSidebarOpen && currentSidebarTab == 'linksTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
          <span class="sr-only">Toggle sidebar</span>
          <i class="fa-solid fa-cart-shopping w-6 h-6 text-lg"></i>
        </button>





        <!-- User avatar button -->
        <div class="relative flex items-center flex-shrink-0 p-2" x-data="{ isOpen: false }">
          <button x-on:click="isOpen = !isOpen; $nextTick(() => {isOpen ? $refs.userMenu.focus() : null})"
            class="transition-opacity rounded-lg opacity-80 hover:opacity-100 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2">
            <img class="w-8 h-8 rounded-lg shadow-md"
              src="https://avatars.githubusercontent.com/u/57622665?s=460&u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&v=4"
              alt="Ahmed Kamel" />
            <span class="sr-only">User menu</span>
          </button>
          <div x-show="isOpen" x-on:click.away="isOpen = false" x-on:keydown.escape="isOpen = false" x-ref="userMenu"
            tabindex="-1"
            class="absolute w-48 py-1 mt-2 origin-bottom-left bg-white rounded-md shadow-lg left-10 bottom-14 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-label="user menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your
              Profile</a>

            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>

            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
          </div>
        </div>
      </nav>

      <!-- Left mini bar -->
      <nav aria-label="Options"
        class="z-20 flex-col items-center flex-shrink-0 hidden w-16 py-4 bg-white border-r-2 shadow-md sm:flex  border-primary-100">
        <!-- Logo -->
        <div class="flex-shrink-0 py-4">
          <a href="#">
            <img class="w-10 h-auto" src="./../../../assets/img/logo.png" alt="K-UI" />
          </a>
        </div>
        <div class="flex flex-col items-center flex-1 p-2 space-y-4">

          <!-- Modulo de Compras -->
          <button nz-tooltip nzTooltipTitle="Compras" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'linksTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'linksTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'linksTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle sidebar</span>
            <span class="text-2xl leading-[0]" nz-icon nzType="shopping" nzTheme="outline"></span>
          </button>

          <!-- Modulo de Ventas -->
          <button nz-tooltip nzTooltipTitle="Ventas" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'messagesTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'messagesTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'messagesTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle message panel</span>
            <span nz-icon nzType="shop" nzTheme="outline" class="text-2xl leading-[0]"></span>
          </button>

          <!-- Modulo de Almacen -->
          <button nz-tooltip nzTooltipTitle="Almacén" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'notificationsTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'notificationsTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'notificationsTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle notifications panel</span>
            <span nz-icon nzType="dropbox" nzTheme="outline" class="text-2xl leading-[0]"></span>
          </button>

          <!-- Modulo de Tesorería -->
          <button nz-tooltip nzTooltipTitle="Tesorería" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'tesoreriaTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'tesoreriaTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'tesoreriaTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle notifications panel</span>
            <span nz-icon nzType="bank" nzTheme="outline" class="text-2xl leading-[0]"></span>
          </button>

          <!-- Modulo de Contabilidad -->
          <button nz-tooltip nzTooltipTitle="Contabilidad" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'contabilidadTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'contabilidadTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'contabilidadTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle notifications panel</span>
            <span nz-icon nzType="control" nzTheme="outline" class="text-2xl leading-[0]"></span>
          </button>

          <!-- Modulo de Sistema -->
          <button nz-tooltip nzTooltipTitle="Sistema" nzTooltipColor="var(--color-primary)"
            x-on:click="(isSidebarOpen && currentSidebarTab == 'sistemaTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'sistemaTab'"
            class="p-2 transition-colors rounded-sm shadow-md hover:bg-primary-darker hover:text-white focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2"
            x-bind:class="(isSidebarOpen && currentSidebarTab == 'sistemaTab') ? 'text-white bg-primary' : 'text-gray-500 bg-white'">
            <span class="sr-only">Toggle notifications panel</span>
            <span nz-icon nzType="setting" nzTheme="outline" class="text-2xl leading-[0]"></span>
          </button>

        </div>

        <!-- User avatar -->
        <div class="relative flex items-center flex-shrink-0 p-2" x-data="{ isOpen: false }">
          <button x-on:click="isOpen = !isOpen; $nextTick(() => {isOpen ? $refs.userMenu.focus() : null})"
            class="transition-opacity rounded-sm opacity-80 hover:opacity-100 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-white focus:ring-offset-2">
            <img class="w-10 h-10 rounded-lg shadow-md"
              src="https://avatars.githubusercontent.com/u/57622665?s=460&u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&v=4"
              alt="Ahmed Kamel" />
            <span class="sr-only">User menu</span>
          </button>
          <div x-show="isOpen" x-on:click.away="isOpen = false" x-on:keydown.escape="isOpen = false" x-ref="userMenu"
            tabindex="-1"
            class="absolute w-48 py-1 mt-2 origin-bottom-left bg-white rounded-md shadow-lg left-10 bottom-14 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-label="user menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your
              Profile</a>

            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>

            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
          </div>
        </div>
      </nav>

      <div x-transition:enter="transform transition-transform duration-300" x-transition:enter-start="-translate-x-full"
        x-transition:enter-end="translate-x-0" x-transition:leave="transform transition-transform duration-300"
        x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full" x-show="isSidebarOpen"
        class="fixed inset-y-0 left-0 z-10 flex-shrink-0 w-64 bg-white border-r-2 shadow-lg sm:left-16 border-primary-100  sm:w-72 lg:static lg:w-64">
        <section x-show="currentSidebarTab == 'linksTab'" aria-label="Main" class="flex flex-col h-full">

          <h2 class="text-xl p-4 text-center">Compras</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('compras', 'Option 5')"
                    [nzSelected]="selectedMenuItemCompras === 'Option 5'">Option 5</li>
                  <li nz-menu-item (click)="selectMenuItem('compras', 'Option 6')"
                    [nzSelected]="selectedMenuItemCompras === 'Option 6'">Option 6</li>
                </ul>
              </li>
            </ul>
          </div>

        </section>

        <section x-show="currentSidebarTab == 'messagesTab'" class="flex flex-col h-full">
          <h2 class="text-xl p-4 text-center">Ventas</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('ventas', 'Option 5')"
                    [nzSelected]="selectedMenuItemVentas === 'Option 5'">Option 5</li>
                  <li nz-menu-item (click)="selectMenuItem('ventas', 'Option 6')"
                    [nzSelected]="selectedMenuItemVentas === 'Option 6'">Option 6</li>
                </ul>
              </li>
            </ul>
          </div>
        </section>

        <section x-show="currentSidebarTab == 'notificationsTab'" class="flex flex-col h-full">
          <h2 class="text-xl p-4 text-center">Almacén</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Consultas" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('almacen', 'Consulta stock por almacén a una fecha')"
                    [nzSelected]="selectedMenuItemAlmacen === 'Consulta stock por almacén a una fecha'">Consulta stock
                    por almacén a una fecha</li>
                </ul>
              </li>
            </ul>
          </div>
        </section>

        <section x-show="currentSidebarTab == 'tesoreriaTab'" class="flex flex-col h-full">
          <h2 class="text-xl p-4 text-center">Tesorería</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('contabilidad', 'Option 5')"
                    [nzSelected]="selectedMenuItemContabilidad === 'Option 5'">Option 5</li>
                  <li nz-menu-item (click)="selectMenuItem('contabilidad', 'Option 6')"
                    [nzSelected]="selectedMenuItemContabilidad === 'Option 6'">Option 6</li>
                </ul>
              </li>
            </ul>
          </div>
        </section>

        <section x-show="currentSidebarTab == 'contabilidadTab'" class="flex flex-col h-full">
          <h2 class="text-xl p-4 text-center">Contabilidad</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Navigation One" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('contabilidad', 'Option 5')"
                    [nzSelected]="selectedMenuItemContabilidad === 'Option 5'">Option 5</li>
                  <li nz-menu-item (click)="selectMenuItem('contabilidad', 'Option 6')"
                    [nzSelected]="selectedMenuItemContabilidad === 'Option 6'">Option 6</li>
                </ul>
              </li>
            </ul>
          </div>
        </section>

        <section x-show="currentSidebarTab == 'sistemaTab'" class="flex flex-col h-full">
          <h2 class="text-xl p-4 text-center">Sistema</h2>
          <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <ul nz-menu nzMode="inline">
              <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
                <ul>
                  <li nz-menu-item (click)="selectMenuItem('sistema', 'Option 5')"
                    [nzSelected]="selectedMenuItemSistema === 'Option 5'">Option 5</li>
                  <li nz-menu-item (click)="selectMenuItem('sistema', 'Option 6')"
                    [nzSelected]="selectedMenuItemSistema === 'Option 6'">Option 6</li>
                </ul>
              </li>
            </ul>
          </div>
        </section>


      </div>
    </div>
    <div class="flex flex-col flex-1 p-4 bg-white overflow-auto">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
