<div class="mt-2 ml-2">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a>
        <span nz-icon nzType="home"></span>
      </a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a>
        <span nz-icon nzType="user"></span>
        <span>Almacén</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>
        <span nz-icon nzType="user"></span>
        <span>Consultas</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Stock Por Almacen a una Fecha
    </nz-breadcrumb-item>

  </nz-breadcrumb>
</div>

<nz-divider></nz-divider>
