<div class="m-2 flex justify-between">
  <nz-breadcrumb @fadeInRight>
    @for (item of navigation; track $index) {

    @if (item.type == 'text') {
    <nz-breadcrumb-item>
      @if (item.icon) {
      <span nz-icon nzType="{{item.icon}}"></span>
      }

      <span>{{item.label}}</span>
    </nz-breadcrumb-item>
    }

    @if (item.type == 'link') {
    <nz-breadcrumb-item>
      <a [routerLink]="item.link">
        @if (item.icon) {
        <span nz-icon nzType="{{item.icon}}"></span>
        }

        <span>{{item.label}}</span>
      </a>
    </nz-breadcrumb-item>
    }

    }
  </nz-breadcrumb>
  <div class="text-[--color-primary] font-bold underline">

    {{User.codigo}} - {{Anio}}
  </div>
</div>
<nz-divider></nz-divider>